
div.center
{
    text-align: center;
}

div.center table
{
    margin: 0 auto;
    text-align: left;
}

div.left
{
    text-align: left;
}




/*
.center {
    margin-left: auto;
    margin-right: auto;
}



 .centre , .center {
    margin-left: auto;
    margin-right: auto;
}

*/

.newcenter {
    width:270px;
    height:150px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-75px 0 0 -135px;
}

.tenpercent {
    margin-left: 10%;
    margin-left: 10%;
}

.dead_center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
    height: 30%;
    margin: auto;
    background-color: green;
}



ul.title_main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.link_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.nav_link {
    float: left;
}

li.nav_link a {
    display: block;
    text-decoration: none;
    padding: 8px;
    color: black;
    background-color: #dddddd;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

li.nav_link a:hover {
    background-color: #555;
    color: white;
}

li.nav_link:last-child {
    border-right: none;
}



