div.main
{
    margin: auto;
    width: 1000px;
/*    background-color: #ebf5f9; */

}

div.center
{
    /*text-align: center;*/
}

div.left
{
    width: 100%;
}

div.center table
{
    margin: 0 auto;
    text-align: left;
}

.newcenter {
    width:270px;
    height:150px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-75px 0 0 -135px;
}

.tenpercent {
    margin-left: 10%;
    margin-left: 10%;
}

.dead_center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
    height: 30%;
    margin: auto;
    background-color: green;
}

div.title_n_links {

}

/* title bar */

ul.title_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 32px;
    background-color : #add8e6;
    color : darkblue ;
}

li.title_name {
    float: left;
}

li.title_logout {
    float: right;
}

li.title_logout a {
    font-size: 20px;
    display: block;
    text-decoration: none;
    padding: 8px;

    color: darkblue;
    background-color: #76bdd5;

    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

li.title_logout a:hover {
    background-color: darkblue;
    color: white;
}

li.title_logout:last-child {
    border-right: none;
}


/* link bar */

ul.link_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.nav_link {
    float: left;
}

li.nav_link a {
    font-size: 30px;
    display: block;
    text-decoration: none;
    padding: 8px;
    color: #122e3b;
    background-color: #4fabc9;
    border-right: 1px solid #3691b0;
    border-left: 1px solid #3691b0;
    border-top: 1px solid #3691b0;
    border-bottom: 1px solid #3691b0;
}

li.nav_link a:hover {
    background-color: #122e3b;
    color: white;
}

li.nav_link:last-child {
    border-right: none;
}

td, button, input {
    font-size: 25px;
}

.error_msg {
    font-size: 18px;
    color : red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td_error {
    font-size: 16px;
    color : red;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


