
.change {
    background-color: #ff8080;
    color: white;
}

.state_on {
    background-color: #ff8080;
}

.state_off {
    background-color: #99ff99;
}

.value_too_cold {
    background-color: #99ffff;
}

.value_correct {
    background-color: #99ff99;
}

.value_too_hot {
    background-color: #ff8080;
}

