<!DOCTYPE html>
<html>
<head>
    [% INCLUDE header_jquery.tt %]
    <script src="/js/admin_update_user.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/admin_update_user.css">
</head>
<body>
    <div class='main'>
        <div class='title_n_links'>[% INCLUDE title_linkbar_admin_users.tt %]</div>
        <div class='error_msg'>[% error_msg %]</div>

        <form method='post' action='/dancer/admin/update_user'>
            <table>
                <tr>
                    <td>Username</td>
                    <td><input type='text' name='username' value='[% data.username %]'/></td>
                    <td>[% error.username %]</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type='text' name='name' value='[% data.name %]'/></td>
                    <td>[% error.name %]</td>
                </tr>

                <tr>
                    <td>Email</td>
                    <td><input type='text' name='email' value='[% data.email %]'/></td>
                    <td>[% error.email %]</td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td><input type='text' name='mobile_phone' value='[% data.mobile_phone %]'/></td>
                    <td>[% error.mobile_phone %]</td>
                </tr>
                <tr>
                    <td>Enabled</td>
                    <td><input type='checkbox' name='is_enabled' [% IF data.is_enabled %]checked='checked'[% END %]/></td>
                    <td>[% error.is_enabled %]</td>
                </tr>
                <tr>
                    <td>API User</td>
                    <td><input type='checkbox' name='is_api_user' [% IF data.is_api_user %]checked='checked'[% END %]/></td>
                    <td>[% error.is_api_user %]</td>
                </tr>
                <tr>
                    <td>Admin</td>
                    <td><input type='checkbox' name='is_admin' [% IF data.is_admin %]checked='checked'[% END %]/></td>
                    <td>[% error.is_admin %]</td>
                </tr>
                <tr>
                    <td>Remote</td>
                    <td><input type='checkbox' name='can_remote' [% IF data.can_remote %]checked='checked'[% END %]/></td>
                    <td>[% error.can_remote %]</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type='submit' name='submit' value='Update'/>
                        <input type='hidden' name='return_url' value='[% return_url %]'/>
                        <input type='hidden' name='user_id' value='[% data.id %]'/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
