<!DOCTYPE html>
<html>
<head>
    [% INCLUDE header_jquery.tt %]
    <script src="/js/admin_list_controls.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/admin_list_controls.css">
</head>
<body>
    <div class='main'>
        <div class='title_n_links'>[% INCLUDE title_linkbar_admin_controls.tt %]</div>
        <div class='center' id='update-output'>[% update_output %]</div>
        <div class='error_msg'>[% error_msg %]</div>
        <table>
            <tr>
                <th>Control</th>
                <th>Alias</th>
                <th>Type</th>
            </tr>

          [% FOREACH row IN list_controls %]
            <tr>
                <td>
                    [% row.control_name %]
                </td>
                <td>
                    [% row.alias %]
                </td>
                <td>
                    [% row.type %]
                </td>

                <td>
                    <button class='listrooms' id='listrooms-id[% row.id %]'>Rooms</button>
                </td>
                <td>
                    <button class='configure' id='configure-id[% row.id %]'>Configure</button>
                </td>

                <td>
                    <button class='edit' id='edit-id[% row.id %]'>Edit</button>
                </td>
                <td>
                    <button class='delete' id='delete-id[% row.id %]'>Delete</button>
                </td>
            </tr>
          [% END %]
        </table>
    </div>
</body>
</html>
