<!DOCTYPE html>
<html>
<head>
    [% INCLUDE header_jquery.tt %]
    <script src="/js/admin_list_rooms.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/admin_list_rooms.css">
</head>
<body>
    <div class='main'>
        <div class='title_n_links'>[% INCLUDE title_linkbar_admin_rooms.tt %]</div>
        <div class='error_msg'>[% error_msg %]</div>
        <div class='main_content'>
            <table>

                <thead>
                    <tr class='listhead'>
                        <th>Room</th>
                        <th>Tag</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    [% FOREACH row IN list_rooms %]
                    <tr class='list'>
                        <td>
                            [% row.name %]
                        </td>
                        <td>
                            [% row.tag %]
                        </td>
                        <td>
                            <button class='listusers' id='listusers-id[% row.id %]'>Users</button>
                        </td>
                        <td>
                            <button class='listcontrols' id='listcontrols-id[% row.id %]'>Controls</button>
                        </td>
                        <td>
                            <button class='update' id='update-id[% row.id %]'>Update</button>
                        </td>
                        <td>
                            <button class='delete' id='delete-id[% row.id %]'>Delete</button>
                        </td>
                    </tr>
                    [% END %]
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
