<!DOCTYPE html>
<html>

    <head>

        [% INCLUDE header_jquery.tt %]

    </head>

    <body>
        <div class='main'>
            <div class='title_n_links'>[% INCLUDE title_linkbar.tt %]</div>
            <div class='error_msg'>[% error_msg %]</div>

            <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org"
                name="video2"
                autoplay="no" loop="yes" width="533" height="300"
                target="rtsp://ipcam04.khaos/ucast/11"
            />
        </div>
    </body>
</html>

