<!DOCTYPE html>
<html>
<head>

    [% INCLUDE header_jquery.tt %]

</head>
<body>
    <div class='main'>
        <div class='title_n_links'>[% INCLUDE title_linkbar_user.tt %]</div>
        <div class='error_msg'>[% error_msg %]</div>

        [%IF ! user %] <div class='center'> [% END %]
        <div class='main_content'>
            <table>

                <form method='post' action='/dancer/user/change_password'>
                    <tr>
                        <td>User name</td>
                        <td><input type='text' name='user' value='[% change_user %]' /></td>
                    </tr>
                    <tr>
                        <td> Old Password </td>
                        <td>
                            <input type='password' name='old_password' value='' />
                        </td>
                    </tr>
                    <tr>
                        <td> New Password </td>
                        <td>
                            <input type='password' name='new_password' value='' />
                        </td>
                    </tr>
                    <tr>
                        <td> New Password (again) </td>
                        <td>
                            <input type='password' name='new_password2' value='' />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type='submit' name='change_password' value='Change Password'/>
                            <input type='hidden' name='return_url' value='[% return_url %]'/>
                            <input type='submit' name='redir_login' value='Login'/>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
        [%IF ! user %]</div>[% END %]
    </div>
</body>
</html>

