<!DOCTYPE html>
<html>
    <head>

        [% INCLUDE header_jquery.tt %]

    </head>

    <body>
        <div class='main'>
            <table>
                <tr><td>[% INCLUDE title_linkbar.tt %]</td></tr>
            </table>
        </div>
    </body>
</html>

