<!DOCTYPE html>
<html>
    <head>

        [% INCLUDE header_jquery.tt %]

    </head>

    <body>
        <div class='main'>
            <div class='title_n_links'>[% INCLUDE title_linkbar.tt %]</div>
            <div class='error_msg'>[% error_msg %]</div>
        </div>
    </body>
</html>

