<html>
    <head>

    </head>
    <body>
        <!--TODO /dancer root could change -->
        <table>
            <tr>
                <td><h1>Khaospy : Home</h1></td>
                <td><h4> [% user %] &nbsp; <a href='/dancer/logout'>Logout</a></h4></td></tr>
            <tr>
                <td><a href='/dancer/status'>Status</a></td>
            </tr>
        </table>
    </body>
</html>

