<!DOCTYPE html>
<html>
<head>

    [% INCLUDE header_jquery.tt %]

</head>
<body>
    <div class='main'>

        [% INCLUDE title_linkbar.tt %]
        <div class='perm_denied'> Permission Denied </div>

    </div>
</body>
</html>
