<!DOCTYPE html>
<html>
<head>

    [% INCLUDE header_jquery.tt %]

    <script src="/js/rooms.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/rooms.css">

</head>
<body>
    <div class='main'>
        <div class='title_n_links'>[% INCLUDE title_linkbar_rooms.tt %]</div>
        <div class='error_msg'>[% error_msg %]</div>

        <div class='main_content'>

            <table>
                <tbody>
                    <tr>
                        <td>Room</td>
                        <td>
                            <select id='show_room' >
                              [% FOREACH row IN list_rooms %]
                                <option value="[% row.id %]" [%IF row.id == select_room_id %] selected="selected" [% END %]>[% row.name %]</option>
                              [% END %]
                            </select>
                        </td>
                        [% IF tt_user_is_admin %]
                        <td>
                            <button id='listcontrols'>Edit Controls</button>
                        </td>
                        [% END %]
                    </tr>
                </tbody>
            </table>


            <table>
                <thead>
                <tr class='listhead'>
                    <th>Control</th>
                    <th>On</th>
                    <th>Off</th>
                    <th>Status</th>
                    <th>Last Update time</th>
                    <th>Changed</th>
                </tr>
                </thead>

                <tbody>
                    [% FOREACH row IN entries %]
                    <tr class='list'>
                        <td >[% row.control_name %]</td>

                            [% IF row.can_operate %]
                                <td>
                                    <button class='operate-control' id='[% row.control_name %]' value='on'>On</button>
                                </td>
                                <td>
                                    <button class='operate-control' id='[% row.control_name %]' value='off'>Off</button>
                                </td>
                            [% ELSIF row.can_set_value %]
                                <td>
                                    <button class='operate-control' id='[% row.control_name %]' value='dec-value-one'>- 1</button>
                                </td>
                                <td>
                                    <button class='operate-control' id='[% row.control_name %]' value='inc-value-one'>+ 1</button>
                                </td>
                            [% ELSE %]
                                <td></td><td></td>
                            [% END %]

                        <td align='center' id='[% row.control_name %]-state_alias'>[% row.current_state_trans %]</td>
                        <td id='[% row.control_name %]-request_time'>[% row.request_time %]</td>
                        <td id='[% row.control_name %]-info'></td>
                    </tr>
                    [% END %]
                <tbody>
            </table>
        </div>
    </div>
</body>
</html>
