                <!--TODO /dancer root could change -->
                [% INCLUDE title_linkbar_admin.tt %]
                <ul class='link_bar'>
                    <li class='nav_link'><a href='/dancer/admin/add_user'>Add User</a></li>
                </ul>

