
    <!--TODO /dancer root could change -->
    [% INCLUDE title.tt %]
    <ul class='link_bar'>
            <li class='nav_link'><a href='/dancer/'>Home</a></li>
            <li class='nav_link'><a href='/dancer/rooms'>Rooms Status</a></li>
            <li class='nav_link'><a href='/dancer/cctv'>CCTV</a></li>
[%IF tt_user_is_admin %]
            <li class='nav_link'><a href='/dancer/admin'>Admin</a></li>
[% END %]
    </ul>

