


    [% INCLUDE title_linkbar.tt %]

    <ul class='link_bar'>
        <li class='nav_link'><a href='/dancer/admin/list_users'>Users</a></li>
        <li class='nav_link'><a href='/dancer/admin/add_user'>Add User</a></li>
    </ul>


