[% IF user %]
    <table>
        <tr><td>
            [% INCLUDE title_linkbar.tt %]
        </td></tr>

        <tr>
            <td><a href='/dancer/user/change_password'>Change Password</a></td>
        </tr>
    </table>
[% ELSE %]
    <table>
        <tr>
            <td colspan='6' ><h1>Khaospy : [% page_title %]</h1></td>
        </tr>
    </table>
[% END %]

