
<ul class='title_bar'>
    <li class='title_name'>Khaospy : [% page_title %] </li>
    [%IF user %]
        <li class='title_logout' title='Logout'><a href='/dancer/logout'>[% user %]</a></li>
    [% END %]
</ul>

