    <!--TODO /dancer root could change -->
    [% INCLUDE title_linkbar.tt %]

    <ul class='link_bar'>
        <li class='nav_link'><a href='/dancer/admin/list_users'>Users</a></li>
        <li class='nav_link'><a href='/dancer/admin/list_rooms'>Rooms</a></li>
        <li class='nav_link'><a href='/dancer/admin/list_controls'>Controls</a></li>

    </ul>


