
    <!--TODO /dancer root could change -->
    [% INCLUDE title.tt %]
    <ul class='link_bar'>
            <li class='nav_link'><a href='/dancer/status'>Status</a></li>
            <li class='nav_link'><a href='/dancer/cctv'>CCTV</a></li>
            <li class='nav_link'><a href='/dancer/admin'>Admin</a></li>
            <li class='nav_link'><a href='/dancer/user'>User</a></li>
            <li class='nav_link'><a href='/dancer/logout'>Logout [% user %]</a></li>
    </ul>

