[% IF user %]
   [% INCLUDE title_linkbar.tt %]
    <ul class='link_bar'>
        <li class='nav_link'><a href='/dancer/user/change_password'>Change Password</a></li>
        <li class='nav_link'><a href='/dancer/user/update'>Update</a></li>
    </ul>
[% ELSE %]
    [% INCLUDE title.tt %]
[% END %]

