<html>
    <head>

        [% INCLUDE header_jquery.tt %]

    </head>
    <body>
        <div class='center'>

            [% INCLUDE title_linkbar_user.tt %]
            <table>

                <form method='post' action='/dancer/user/update'>
                    <tr>
                        <td>Name</td>
                        <td>
                            <input type='text' name='name' value='[% name %]' />
                        </td>
                    </tr>

                    <tr>
                        <td>Email</td>
                        <td><input type='text' name='email' value='[% email %]' /></td>
                    </tr>
                    <tr>
                        <td>Mobile Phone </td>
                        <td>
                            <input type='text' name='mobile_phone' value='[% mobile_phone %]' />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type='submit' name='update' value='Update'/>
                            <input type='hidden' name='return_url' value='[% return_url %]'/>
                        </td>
                    </tr>
                    <tr><td colspan='2'>[% error_msg %]</td></tr>
                </form>
            </table>
        </div>
    </body>
</html>

