<!DOCTYPE html>
<html>
<head>

    [% INCLUDE header_jquery.tt %]

</head>
<body>
    <div class='center main'>
        <table>
            <tr><td>[% INCLUDE title_linkbar_user.tt %]</td></tr>
        </table>
    </div>
</body>
</html>
